<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<ul class="nav navbar-nav">
			<li><a class="navbar-brand" href="/">Estado Actual</a></li>
			<li><a class="navbar-brand" href="/config">Configuraciones</a></li>
			<li><a class="navbar-brand" href="/info">Información</a></li>

		</ul>
	  
	</div>
</nav>