<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<!------  <link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" /> --->
		
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="list-group">
				  
					<div class="list-group-item">
						<h4 class="list-group-item-heading">
							Ventiladores 
							<a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access website and use site API"></a>
						</h4>
						<p class="list-group-item-text">
							<span id="ventilation"></span>
						</p>
					</div>
				  
					<div class="list-group-item">
						<h4 class="list-group-item-heading">
							Fuente de Agua 
							<a href="#"  data-toggle="tooltip" data-placement="bottom" ></a>
						</h4>
						<p class="list-group-item-text">
							<span id="waterFont" class="label label-success">Encendido</span>
						</p>
					</div>
				  
					<div class="list-group-item">
						<h4 class="list-group-item-heading">
							Luz 
							<a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
							  
							</a>
						</h4>
						<p class="list-group-item-text">
							<span id ="light"></span>
						</p>
					</div>

					<div class="list-group-item">
					  <h4 class="list-group-item-heading">
						  Temperatura 
						  <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
							
						  </a>
					  </h4>
					  <p class="list-group-item-text">
						  <span class="label label-success">Encendido</span>
					  </p>
					</div>
					
				</div>
			</div>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
<script>

	var isLightOn = ( "<%- light %>" == "true") ;
	var isVentilationOn = ( "<%- ventilation %>" == "true") ;
		
	showStatus('light',isLightOn);
	showStatus('ventilation',isVentilationOn);
	
	// Change Green/Red span 
	function showStatus(id,isOn){
		console.log(id , isOn);
		
		if(isOn){
			document.getElementById(id).textContent="Encendido";
			document.getElementById(id).className="label label-success";
		}else{
			document.getElementById(id).textContent="Apagado";
			document.getElementById(id).className="label label-danger";
		}
	}
	//console.log(status);
	// showSpan();

	// // Change Status Name
	// function showSpan(){
	// 	var spanIdentifiers = ["ventilationSpan","waterFont"];


	// 	spanIdentifiers.forEach(function(item, index, array) {
	// 		document.getElementById(item).textContent="Testeando";
	// 		document.getElementById(item).className=getClass();
	// 	});
	// }

	// //Get span classes
	// function getClass(){
		
		
	// 	var spanClass = "label label-success";

	// 	return spanClass;
	// }


</script>
</html>