<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<div class="row clearfix">
			<div class="col-md-12 column">
                <p>En los tiempos en los que vivimos, la automatización es moneda corriente y cada vez está ganando más terreno. La gente generalmente encuentra en el cultivo, un hobby que les proporciona cierta relajación que quita el stress, además del placer de ver sus plantas crecer, y comer sus propios frutos. Pero a la hora de mantener el cultivo, si la persona se encuentra con falta de tiempo o dedicación, termina en fracaso,  las plantas se secan, o no crecen con la fuerza con la que podrían crecer. 
                    Este proyecto plantea una solución a este problema, se basa en la idea de un invernadero automatico, el cual automatice  y permita tener un mejor control sobre el cultivo, para que la persona se despreocupe de ciertas cuestiones que tienen que ver con el cuidado, tener que regar todos los días, tener cambiarla a un lugar más soleado, refrigerar si hace demasiado calor y así, aumente las probabilidades de éxito.
                   </p>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>